
/*
 * ======================================================================= override root
 */

.root {
    -fx-font-family: "Arial";
    -fx-font-size: 15.5px;
    -fx-base: #F6F6F6;
    -fx-background: #E5E5E5;
    -fx-focus-color: #DB6342;
    -fx-control-inner-background: #F7F7F7;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,77.48366013071895%) 0%, derive(-fx-color,39.032679738562095%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 35.0%) 0%, derive(-fx-color, -6.0%) 100%);

	-fx-focus-color: black;
	-fx-accent: #D80000;
	
	-fx-button-accent:linear-gradient(to bottom, -fx-accent,#780000);
}

.button, .toggle-button, .choice-box {
    -fx-background-radius: 4, 4, 3, 2;
    -fx-padding: 5px 12px 5px 12px;
}
/*
.menu-button {
    -fx-background-radius: 4, 4, 3, 2;
}
.menu-button .label {
    -fx-padding: 5px 20px 5px 12px;
}
.menu-button .arrow-button {
    -fx-padding: 5px 8px 5px 0px;
}
*/
.choice-box {
    -fx-padding: 0 8px 0 0;
}
.choice-box .label {
    -fx-padding: 5px 6px 5px 8px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 10px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 5px 8px 5px 8px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.label, .check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box .label { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}


/* =============================================================================================================================
*  TableView
*/
.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
}
 
.table-row-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.table-row-cell:empty {
	-fx-background-color: -fx-control-inner-background;
}

.table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

.table-view:focused .table-cell:focused {
    -fx-background-color: -fx-button-accent;
    -fx-background-insets: 0 1 0 0, 1 2 1 1, 2 3 2 2;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}
 
.table-row-cell:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}
 
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: -fx-table-cell-border-color, -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 0 0 1 0, 1 1 2 1, 2 2 3 2, 3 3 4 3;
    -fx-text-fill: -fx-text-inner-color;
}

/* =============================================================================================================================
* ListView
*/
.list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: -fx-control-inner-background;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
}

.list-cell:odd {
    -fx-background-color: white;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1, 2;
}

.list-view:focused .list-cell:focused:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 1, 2;
}

/* When the list-cell is selected and focused */
.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:selected, .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-selection-bar;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* When the ListView is _not_ focused, we show alternate selection colors */
.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}

.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-cell-hover-color;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: linear-gradient(to right, derive(-fx-accent,-7%), derive(-fx-accent,-25%));
}
 

/* =============================================================================================================================
*  Button
*/
.button:default{
	-fx-background-color:-fx-button-accent;
}

.button:default:hover{
	-fx-background-color:#D80000;
}


/* =============================================================================================================================
*  TitlePane
*/
.titled-pane > .title{
	-fx-background-color:-fx-button-accent;
	-fx-text-fill:-fx-light-text-color;
	-fx-padding:5px 10px 5px 10px;
}
.titled-pane{
	-fx-text-fill:-fx-light-text-color;
}

/* =============================================================================================================================
 *  Original classes 
 */
.errorbox {
	-fx-background-color:linear-gradient(to bottom, derive(-fx-background,80%) 0%, derive(-fx-background,20%) 100%);
	-fx-background-radius:6px;
	-fx-padding:10px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.errorbox .label{
	-fx-text-fill: #CC0000;
}

.infobox {
	-fx-background-color:linear-gradient(to bottom, derive(-fx-background,80%) 0%, derive(-fx-background,20%) 100%);
	-fx-background-radius:6px;
	-fx-padding:10px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.dialogbox {
	-fx-background-color:linear-gradient(to bottom, derive(-fx-background,80%) 0%, derive(-fx-background,20%) 100%);
	-fx-background-radius:0 0 6px 6px;
	-fx-padding:10px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.dialogbox .innerbox {
	-fx-border-color: -fx-text-box-border transparent  transparent transparent;
}

.errorinput {
	-fx-background-color: red,
       linear-gradient(
        to bottom,
        derive(red,70%) 5%,
        derive(red,90%) 40%
       );
}

#btnHome,#btnHistory,#btnSettings,#btnR{
	-fx-background-color:gray;
}

#btnHome:hover,#btnHistory:hover,#btnSettings:hover,#btnR:hover{
	-fx-background-color: #999999;
}


/* =============================================================================================================================
*  SuggestBox
*/


.suggestbox-empty {
	-fx-background-image:url('');
	-fx-background-repeat: no-repeat;
	-fx-background-position: right center;
    -fx-padding: 5px 8px 5px 8px;
}

.suggestbox-noempty {
	-fx-background-image:url('images/clear.png');
	-fx-background-size:18px 18px;
	-fx-background-repeat: no-repeat;
	-fx-background-position: right center;
    -fx-padding: 5px 24px 5px 8px;
 }

.suggestbox-noempty-hover {
	-fx-background-image:url('images/clear-r.png');
}	


.suggestbox-popup {
	-fx-background-color:-fx-control-inner-background;
	-fx-color:-fx-text-fill;
	-fx-padding:5 5 5 5;	
	-fx-border-color:-fx-box-border;	
	-fx-background-radius:6px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.toolbar {
    -fx-background: derive(-fx-base,-30%);
    -fx-background-color:
        linear-gradient(to bottom, -fx-base 12%, derive(-fx-base,-20%) 95%);
    -fx-background-radius: 0, 0 ;
}

/* =============================================================================================================================
*  TabPane
*/

.tab-pane *.tab-header-background {
    -fx-background-image: url("images/default.jpg");
}


/*******************************************************************************
 *                                                                             *
 * MenuButton                                                                  *
 *                                                                             *
 ******************************************************************************/

.m-button {
    -fx-skin: "com.sun.javafx.scene.control.skin.MenuButtonSkin";
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-padding: 0.0em; /* 0 */
    -fx-text-fill: -fx-text-base-color;
}

/* TODO workaround for RT-19062 */
.m-button .label { -fx-text-fill: -fx-text-base-color; }

.m-button:focused {
    -fx-color: -fx-focused-base;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 6.4, 4, 5, 3;
}

.m-button:hover {
    -fx-color: -fx-hover-base;
}

.m-button:armed {
    -fx-color: -fx-pressed-base;
}

/* The MenuButton skin uses an inner Label part */
.m-button .label {
    -fx-padding: 0.166667em 1.5em 0.25em 0.833333em; /* 2 18 3 10 */
}

.m-button .arrow-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.5em 0.416667em 0.5em 0.0em; /* 6 5 6 0 */
}

.m-button .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-padding: 0.25em; /* 3 */
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.m-button:openvertically .arrow {
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.m-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.m-button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
} 

/*
 * Прочие
 */
.tree-linkcell {
	-fx-text-fill: blue; 
	-fx-underline:true;
}

.tree-linkcell:focused {
	-fx-text-fill: white; 
}

